ServiceBusOptions__ConnectionString=YOUR_SERVICE_BUS_CONNECTION_STRING

# ----------------------------
# SMTP
# ----------------------------
# Para desarrollo local usa Papercut SMTP: https://github.com/ChangemakerStudios/Papercut-SMTP
SmtpOptions__Host=YOUR_SMTP_HOST
SmtpOptions__Port=587
SmtpOptions__Username=YOUR_SMTP_USER
SmtpOptions__Password=YOUR_SMTP_PASSWORD
SmtpOptions__SenderEmail=no-reply@yourdomain.com
SmtpOptions__SenderName=EmailService
